APP_DEBUG = trueIS_DEV = trueDB_USE_CACHE = false[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1PREFIX = v_DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8mb4DEBUG = true[LANG]DEFAULT_LANG = zh-cn[CACHE]DRIVER = redis